body {
    background-color: #FDD7E4;
}

.left_img {
    width: 230px;
}

.left_img img {
    margin: 10px;
    margin-top: 620px;
    margin-right: 10px;
    float: right;
    width: 230px;
    height: 300px;
}

.dropdown:hover .emotion {
    display: block;
}

#words {
    margin-top: 500px;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 30%;
    background-color: aqua;
}

h1 {
    text-align: center;
}

#roll {
    margin-left: 50%;
}

#emotion {

    margin-left: 50%;
}

#dropdown {
    margin-left: 50%;
}
