body {
    background-color: #FDD7E4;
}

.left_img {
    width: 230px;
}

.left_img img {
    margin: 10px;
    margin-top: 620px;
    margin-right: 10px;
    float: right;
    width: 230px;
    height: 300px;
}

.dropdown:hover .emotion {
    display: block;
}

#words {
    margin: auto;
    text-align: center;
    width: 230px;
    height: 230px;
    background-color: aqua;
}
